*{ margin:0; padding:0;}

.main{
	width:1000px; height:1000px; margin:auto auto; border:1px solid red;
}

.nav{
	height:30px; background:#06f; width:1000px;
}

.nav li a {
    float:left; width:165px; height:30px; text-align:center; line-height:30px; font-weight:bold;
	border-right:1px dashed #fff;text-decoration:none;color:#FFF
}




li {display:inline}

.nav li a:hover{
	background:#000; color:red;
#pic{
	width:1000px; height:400px; background:url(../image/%5B%E5%A4%A9%E4%BD%BF%E4%B9%8B%E6%81%8B%5D.My.Rainy%5B01_54_32%5D%5B20120601-213557-0%5D.JPG);
}