
* {margin:0px;}
.bg {
	width:auto;
	height:auto;
	background:url(../image/pagebg-m.jpg);}
.page {
	width:1024px;
	margin:0 auto;
	
	}
.banner {
	height:354px;
	background:url(../image/index.jpg);
	position:relative;

	
	
}

.nav {
	height:40px;
	background:url(../image/%E6%8D%95%E8%8E%B7.JPG);

	
	}
.nav ul {
	 	list-style:none;
		margin:0;
		padding:0;
		}
.nav ul li {
		color:#FFF;
		float:left;
		text-align:center;
		font-weight:bolder;
		width:140px;
		}
.nav ul li a {
			text-decoration:none;
			color:white;
			font-size:12px;
			}
.nav ul li a:hover {
	color:#9FF;
	text-decoration:underline;
	}
	
.log1 {
		
		font-weight:bolder;
		height:30px;
		width:200px;
		color:#FFF;
		position:absolute;
		right:-42px;
		top:40px;
		}
.log {
	border-top:1px dotted #FFFFFF;
	height:30px;
	background:url(../image/%E6%8D%95%E8%8E%B7.JPG);
	color:#CCC;
	line-height:30px;
	}
.input1 {
		width:120px;
	     }
.inputsize {
			font-size:10px;}


