* {margin:0;padding:0;}

.container {
	        width:1000px;
			height:1000px;
			margin:auto auto;
			border:1px solid gray;
			}
.menu {
	   width:1000px;
	   height:30px;
	   background-color:#3FF;
}

.menu li a {
	       text-decoration:none;
		   line-height:30px;
		
		   color:#000;
		   height: 20px;
		   font-weight:bold;
		 
		
		 
		   }
.menu li {
		float:left;
		   width:165px;
		     text-align:center;
			 border-right:1px dashed black;
		   }
.menu ul {list-style:none;
          margin:0;padding:0;
		    
		  }

.menu li a:hover {background:#993;}

.container .menu ul li ul li {
						list-style:square;
						float:none;}


