<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../../js/bootstrap.min.css">
	<script src="../../js/angular.min.js"></script>
	<style>
	.selected {color:red;}
	</style>
</head>
<body ng-app='app' ng-controller='adressCtrl'>
	<h2>地址管理</h2>
	<ul class="list-group" ng-repeat="i in list">
		<li class="list-group-item" ng-if="!$last" ng-class="{selected:$first}"><h4>{{$index+1+'.'+i.address}}</h4></li>  <!-- 当最后一个$last为true隐藏最后一个 -->
		<!-- $first 第一个为true
		$last 最后一个为true -->
	</ul>
	<script>
		angular.module('app',[])
		.controller('adressCtrl',function ($scope) {

			$scope.list = [

				{id:1,address:'兴华路1号'},
				{id:2,address:'黄坡南路'},
				{id:3,address:'淮海中路'},
				{id:4,address:'思南路'}
			]

		})
	</script>
</body>
</html>