<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ng-init</title>
	   <script src="../../js/angular.1.3.0v.js"></script>
		<link rel="stylesheet" href="../../js/bootstrap.min.css">
		
	   <style>
		.tx{width:50px;height: 50px;margin-bottom: 10px;margin-left: 80px;}
	   </style>
</head>
<body style="padding:10px;" ng-app="app">
<div ng-controller="UserCtrl">
	<form action="" name="f" ng-submit="regsiter(user)">	<!-- 绑定一个方法传入scope下面的user对象 -->
		<fileldset>
			<legend>基本信息</legend>
			<img ng-show="{{user.isShowImg}}" ng-src="{{user.icon}}" alt="" ng-class="{'tx':user.showIcon}">
			<div>
				<input type="text" placeholder="用户名" ng-model="user.name" required>
				<input type="password" placeholder="密码" ng-model="user.pass" required>
				职位：<select name="" id="" ng-disabled='true'>		<!-- ng-disabled=true 不可选 -->
					<option value="">请选择</option>
					<option value="1"  ng-selected="true">JS</option>   <!-- ng-XX = true 或者 user.se == 1 这种表达式为true都可以 -->
					<option value="2">.net</option>
				</select>
				性别：
				<input type="radio" ng-checked="2" name="sex" >男
				<input type="radio" name="sex" ng-checkd="user.sex=='0'">女
			</div>
		</fileldset>
		<fileldset>
			<legend>爱好</legend>
			<div>
				<input type="checkbox" ng-checked="true">篮球
				<input type="checkbox" ng-checked="123 == 123">足球
				<input type="checkbox">排球
			</div>
		</fileldset>
		<button type="submit" class="btn btn-success" ng-disabled="f.$invalid">提交</button>
	</form>
	<script>
	// ng-bind
	// ng-model
	// ng-show/hide
	// ng-if
	// ng-checked
	// ng-src
	// ng-href
	// ng-class					用对象调用{class:true/false}
	// ng-selected
	// ng-submit		提交表单的用
	//ng-disabled  	   1.表单name+$invalid 来通过表单的required属性置灰提交按钮	
					// 2.为true也可以置灰
	angular.module('app',[])
	.controller('UserCtrl',function ($scope) {

		$scope.user ={
			isShowImg:true,
			icon:'../1.jpg',
			showIcon:true,
			sex:'1',
			name:'',
			pass:''

		};
		$scope.regsiter = function (info) {

			console.log(info)

		}

	})

	</script>
</div>	
</body>
</html>