<!doctype html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../js/angular.1.3.0v.js"></script>
	<script>
		//angular.bind(this指向，目标函数)

		// function aa (a,b) {

		// 	alert(this)   //window

		// };

		// angular.bind('hehe',aa)();  //把原本window的指向改成了 hehe

		//angular.copy(obja,objb(可选))   对象拷贝   把对象a赋值给对象b 并且返回对象a 

	// 	var a = {
	// 		name : 'hehe'
	// 	};
	// 	var b = {
	// 		age : 1
	// 	}

	// var c = angular.copy(a)    //c == a 

	// var c = angular.copy(a,b)  // c==a   b==a 


	//angular.extend(a,b)  //和jquery的extend一样  a继承B


	</script>
</head>
<body>
	
</body>
</html>