<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>


</head>

<body>
	<div class="lo">
    </div>
    <!--定义模版 (underscore)-->
	<script type="text/template" id="list-template">
		<span><%= title %></span>
		<em><%= create_d %></em>
	</script>
    
<script src="../../lib/jquery.js"></script>
<script src="../../lib/underscore.js"></script>
<script src="../../lib/backbone.js"></script>
<script src="../../lib/modeapp.js"></script>
</body>

</html>
