* {margin:0;padding:0;}
body {background:rgba(0,0,0,0.5)}
ul {list-style: none;}
a {text-decoration: none;}

.wrap {position:relative;}
.container {width:880px;position:relative;height:220px;overflow:hidden;margin:200px auto;}
.ulList {position:absolute;}
.ulList li {float:left;}
.prev,.next {color:#fff;font-size:80px;position:absolute;}

.prev {left:270px;top:70px;}
.next {right: 270px;top:70px;}

.arrowNo {color:#000;}



