<!doctype html >
<html lang="en" ng-app='myApp1'>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../../js/angular.1.3.0v.js"></script>
	<script>


	//  hello  要第一个字母大写的功能   采用filter方法来自定义过滤器
		
		var m1 = angular.module('myApp1',[]);
	
		// filter('方法名',callback(function () {

		// 	return function (数据对象，可选参数) {

		// 			数据对象就是{{这里的值}}，可选参数就是过滤器的后面：后面的参数

		// 	}	

		// }))
	

			//自定义一个toUppercaseOne方法
			m1.filter('toUppercaseOne',function () {

				return function (obj,parm) {

					//这里的parm就是  过滤器的可选参数 怎么写方法根据需求咯 假如这里parm等于前几位大写

					var numer = parm || 1;

					return obj.substring(0,numer).toUpperCase()+obj.substring(numer);	

				};

			});

			m1.controller('Aaa',['$scope','$filter',function ($scope,$filter) {


					//JS当中使用自定义过滤器
					$scope.name =$filter('toUppercaseOne')('hello',3)

			}]);



	</script>
</head>
<body>
	<div ng-controller="Aaa">
		<!--使用自定义的过滤器-->
		<p>{{name}}</p>
	</div>
	
</body>
</html>