<!doctype html>
<html lang="en" ng-app='myApp1'>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../../js/angular.1.3.0v.js"></script>
	<script>
		//angular.module(模块名，[依赖的模块名,没有就是空数组])  angular模块化的方法
		var m1 = angular.module('myApp1',[]);

			m1.controller('money',['$scope',function ($s) {

				$s.money = '4654564631321';

			}]);
	</script>
</head>
<body>
	<div ng-controller='money'>
		<!-- <p>{{money | currency }}</p> -->
		

		<!--只转化为数字  : 可以保留几位小数 -->
		<p>{{money | number : 2 }}</p>
	</div>

</body>
</html>