<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vue</title>
    <script src="../vue.js"></script>
</head>

<body>
    <template id="templated">
        <input type="text" v-model="msg" />
        <button @click="fire">
            click
        </button>
    </template>
    <div id="parent-component">
        <p @click = 'hehe2' >message:{{messages | json}}</p>
        <child></child>
    </div>
</body>
<script>
var ui = Vue.component('child', {
    template: '#templated',
    data: function() {
        return {
            msg: 'hello'
        }
    },
    methods: {
        fire: function() {
            if (this.msg.trim()) {
                this.$dispatch('childdata', this.msg)          //这里是触发时间
                this.msg = ''
            }
        },
        hehe : function (lo) {
            alert(lo)
        }
    }
});

var showlogin = {
    methods : {
        xiexie:function () {
            alert(100)
        }
    }
}
// 启动父组件
// 将收到消息时将事件推入一个数组
var parent = new Vue({
    mixins:[showlogin],
    el: '#parent-component',
    data: {
        messages: []
    },
    // 在创建实例时 `events` 选项简单地调用 `$on`   这里其实是监听事件
    events: {
        'childdata': function(msg) {
            // 事件回调内的 `this` 自动绑定到注册它的实例上
            this.messages.push(msg)
        }
    },
    methods:{
        hehe2:function(){
            this.xiexie()
        }
    }
})
</script>

</html>