<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vue</title>
    <script src="../vue.js"></script>
</head>

<body>
    <div id="app">
     <ul>
         <li v-for="i in heheList">
             {{ $key }}:{{ i }}
         </li>
     </ul>
    </div>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            heheList:{
                num1ber:"1",
                num2ber:"2",
                nu3ber:"3"
            }
        }

    })
</script>
</html>