<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vue</title>
    <script src="../vue.js"></script>
</head>

<body>
   <div @click='hehe' id="demo">{{fullName}}</div>
</body>
<script>
   var vm = new Vue({
    el:"#demo",
      data: {
        firstName: 'Foo',
        lastName: 'Bar',
      },
      computed:{
           fullName:function () {
             return  this.firstName+' '+this.lastName   //计算属性要return 不然没效果
           } 
      },
      methods:{
        hehe:function () {
            this.firstName = '123'
        }
      }
})

    
</script>
</html>