<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style>
	* {margin:0;padding:0}
	
	li {float:left;margin-right:20px;}
	
	div {display:none;width:0;height:0;overflow:hidden}
</style>
<script src="../js/lib/sea.js" id="sea"></script>
<script>
	seajs.config({
		
		//基础路径
		base : '../js',
		
		//路径缓存
		paths: {
			
			'showPath' : 'control/main/show',
			
			'hidePath' : 'control/main/hide'
			
		},
		//空间别名
		alias : {
			
			'jquery' : 'lib/jquery-1.7.2.min',
			
			'move'  : 'lib/move',
			
			'main' : 'control/main/main',
			
			'show' : 'showPath/show',
			
			'hide' : 'hidePath/hide'
				
		},
		
		charset : 'utf-8'
		
	});
	
	//直接调用
	seajs.use(['move','main']);
	
</script>


<body>
	<ul>
    	<!--data-xxx  html5新属性-->
    	<li><a href="javascript:void(0);" data-hash="index">首页</a></li>
        <li><a href="javascript:void(0);" data-hash="student">学员</a></li>
        <li><a href="javascript:void(0);" data-hash="message">留言</a></li>
    </ul>
    <br/>
    <div style="background:red;" data-hash="index">首页的内容</div>
    <div style="background:yellow;" data-hash="student">学员</div>
    <div style="background:green;" data-hash="message">留言</div>
</body>
</html>
